input {
    width: 250px;
}
.container {
    background-color:white;
    width: 350px;
    height: 310px;
    border-radius: 5px;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}
.errors {
    color: red;
}
.background-image   
{
    background-image: url("../../assets/images/education.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}