<div class="background-image">
    <title>Student Registration</title>
    <div align="center">
        <a routerLink="/home">
            <img src="../../assets/images/logo_app.png" style="height:100px;width:90px;"></a>
        <b>
            <span style="color: red;">
                {{verifInfo}}
            </span>
        </b>
        <div class="errors">
            <span *ngIf="signUpForm.get('firstnameField').touched 
                && signUpForm.get('firstnameField').hasError('required')">
                FirstName is Required !
            </span>
            <span *ngIf="signUpForm.get('firstnameField').touched 
                && signUpForm.get('firstnameField').hasError('minlength')">
                FirstName must at least 6 characters !
            </span>

            <span *ngIf="signUpForm.get('lastnameField').touched 
        && signUpForm.get('lastnameField').hasError('required')">
                LastName is Required !
            </span>
            <span *ngIf="signUpForm.get('lastnameField').touched 
        && signUpForm.get('lastnameField').hasError('minlength')">
                LastName must at least 6 characters !
            </span>

            <span *ngIf="signUpForm.get('emailField').touched 
                && signUpForm.get('emailField').hasError('required')">
                Email is Required !
            </span>
            <span *ngIf="signUpForm.get('emailField').touched 
                && signUpForm.get('emailField').hasError('email')">
                Enter a Valid Email !
            </span>
            <span *ngIf="signUpForm.get('phonenumberField').touched 
        && signUpForm.get('phonenumberField').hasError('required')">
                Phone Number is Required !
            </span>
            <span *ngIf="signUpForm.get('phonenumberField').touched 
        && signUpForm.get('phonenumberField').hasError('pattern')">
                Phone Number must have 8 Numbers !
            </span>

            <span *ngIf="signUpForm.get('dateField').touched 
        && signUpForm.get('dateField').hasError('required')">
                Date of Birth is Required !
            </span>
        </div>
        <div class="container">
            <div class="form-group">
                <h1 style="color: #00216C;">Student Registration</h1>
            </div>
            <br>
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="form-group">

                    <input type="text" class="form-control" formControlName="firstnameField" placeholder="First Name">
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" formControlName="lastnameField" placeholder="Last Name">
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" formControlName="emailField" placeholder="Email">
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" formControlName="phonenumberField"
                        placeholder="Phone Number">
                </div>
                <div class="form-group">

                    <input type="date" class="form-control" formControlName="dateField" placeholder="Date Of Birth : ">
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!signUpForm.valid">Sign up</button><br><br>
                    <span style="color: #5AAAFF;">Not a Student ?
                        <a routerLink="/signupteacher" routerLinkActive="true">Sign up as a teacher</a>
                    </span>
                </div>
            </form>
            <br>
            <span style="font-family: fantasy; color: white; font-size: 30px;">Educational Establishment</span>
        </div>
    </div>
</div>