input {
    width: 250px;
}
.container {
    background-color:white;
    width: 350px;
    height: 550px;
    border-radius: 5px;
   
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}
.errors {
    color: red;
}

.background-image
{
    /*background-image: url("../../assets/images/education.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    /* margin-right: 0.5em; */
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }